.contact {

}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contact-box i {
  color: var(--purple10);
}

.contact .sectionContainer {
  text-align: center;
}