.experience-experiences {
  margin-block-start: 2rem;
}

.experience-work {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.experience-image {
  flex: 1;
  padding: 1rem
}

.experience-image img {
  inline-size: 100%;
}

.experience-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.experience-description-title {
  flex: 0.5;
}

.experience-description-topics {
  flex: 2;
  text-align: center;
}

.experience-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
  text-align: left;
}

.experience-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.experience-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.experience-description-media {
  flex: 0;
}

.experience-description-media a {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .experience-image {
    flex: 0 0 25rem;
    padding: 1rem
  }
}

@media (max-width: 1090px) {
  .experience-image {
    flex: 0 0 20rem;
    padding: 1rem
  }

  .experience-description-title h3 {
    margin-block-end: 0;
  }

  .experience-description-title h4 {
    margin-block-end: 0;
  }

  .experience-description-topics p:first-child {
    margin-block-end: 0.5rem;
  }
}

@media (max-width: 940px) {
  .experience-work {
    display: block;
  }
}