@import './page.css';
@import './navigation.css';
@import './icons.css';
@import './header.css';
@import './portfolio.css';
@import './about.css';
@import './skills.css';

:root {
  font-size: 16px;
  --white: #FFFFFF;
  --white10: #f7f7f7;
  --white20: #eee;
  --purple10: #8444df;
  --purple20: #773dc8;
  --black: #050505;
  --sepia: #774e24;
  --red: #a4243B;
  --gray: #333333;
  --body1-regular: 400 0.875rem/1.25rem Poppins;
  --body1-bold: 600 1rem/1.25rem Poppins;
  --sectionHead: 400 0.75rem/1.25rem Poppins;
  --nav1-logo: 600 2.7rem/1.25rem Poppins;
}

html {
  scroll-behavior: smooth;
}