.menuButton {
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 20px;
  inline-size: 35px;
  block-size: 30px;
  padding: 10px;
  z-index: 30;
  display: none;
}

.menuButton .linesContainer {
  position: relative;
}

.menuButton .linesContainer span {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 2px;
  background: var(--black);
  position: absolute;
}

.menuButton .linesContainer span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.menuButton .linesContainer span:nth-child(2) {
  top: 10px;
}

.menuButton .linesContainer span:nth-child(3) {
  top: 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  block-size: 100vh;
  inline-size: 5.5rem;
  min-inline-size: 5.5rem;
  background-color: var(--purple10);
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* font: var(--nav1-core); */
  color: var(--white);
  transition: inline-size 0.5s;
  overflow-x: hidden;
}

.active {
  display: flex;
}

.nav:hover {
  inline-size: 10rem;
}

.nav:hover .nav-item p {
  display: block;
}

.nav-logo {
  display: flex;
  font: var(--nav1-logo);
  background: var(--purple20);
  block-size: 7rem;
  inline-size: 100%;
  justify-content: center;
  align-items: center;
}

.nav-core {
  inline-size: 100%;
  padding-inline-start: 2.5rem;
}

.nav-core li {
  align-items: center;
}

.nav-core-list li {
  margin-block: 0.5rem;
}

.nav-item {
  inline-size: 6rem;
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.25rem;
}

.nav-item:hover {
  background-color: #9D69E5;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
}

.nav-item p {
  inline-size: 100%;
  position: absolute;
  left: 3rem;
  display: none;
}

.nav-footer{
  display: flex;
  /* align-items: center; */
  gap: .5rem;
}

@media (max-width: 530px) {
  .active {
    display: none;
  }

  .menuButton {
    display: block;
  }
}