a {
  text-decoration: none;
  color: currentColor;
  vertical-align: baseline;
}

i {
  font-size: 1.5rem;
  inline-size: 24px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  padding-block: 5rem;
}

ul {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  margin: 0;
  background: var(--white10);
  color: var(--gray);
  font: var(--body1-regular);
}

.sectionHead {
  margin-bottom: 3.125rem;
}

.sectionHead p:first-child {
  position: relative;
  padding-inline-start: 2.5rem;
  font: var(--sectionHead);
}

.sectionHead p:first-child::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  display: inline-block;
  inline-size: 2rem;
  block-size: 1px;
  background-color: var(--gray);
}

.sectionContainer {
  background-color: var(--white);
  border-radius: 3.125rem;
  padding: 3rem;
}