.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nav portfolio" "nav footer";
}

.page .navigation {
  grid-area: nav;
}

.page .portfolio {
  grid-area: portfolio;
}

.page .footer {
  grid-area: footer;
}
