.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.project-image {
  flex: 0 0 31.25rem;
  /* flex: 1; */
  padding: 1rem
}

.project-image img {
  inline-size: 100%;
}

.project-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-description-title {
  flex: 0.5;
}

.project-description-title h4 {
  text-align: left;
  margin-block: 0.5rem;
}

.project-description-topics {
  flex: 2;
  text-align: center;
}

.project-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
  margin-block-start: 1rem;
  text-align: left;
}

.project-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.project-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.project-description-media {
  flex: 0;
  text-align: left;
}

.project-description-media a {
  text-decoration: underline;
  display: inline-block;
  margin-inline-end: 1rem;
  color: var(--purple20);
}

.techSpan {
  color: var(--purple10);
}

@media (max-width: 1130px) {
  .project-item {
    flex-direction: column;
  }

  .project-image {
    flex: 1;
  }
}