.studies-studies {
  margin-block-start: 2rem;
}

.studies-course {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.studies-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-image {
  flex: 1;
  padding: 1rem
}

.course-image img {
  inline-size: 100%;
}

.course-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.course-description-title {
  flex: 0.5;
}

.course-description-topics {
  flex: 2;
  text-align: center;
}

.course-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
	text-align: left;
}

.course-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.course-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.course-description-media {
  flex: 0;
}

.course-description-media a {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .course-image {
    flex: 0 0 25rem;
    padding: 1rem
  }
}

@media (max-width: 1090px) {
  .course-image {
    flex: 0 0 20rem;
    padding: 1rem
  }

  .course-description-title h3 {
    margin-block-end: 0;
  }

  .course-description-title h4 {
    margin-block-end: 0;
  }

  .course-description-topics p:first-child {
    margin-block-end: 0.5rem;
  }
}

@media (max-width: 940px) {
  .studies-course {
    display: block;
  }
}