:root {
  font-size: 16px;
    --white: #FFFFFF;
    --white10: #f7f7f7;
    --white20: #eee;
    --purple10: #8444df;
    --purple20: #773dc8;
    --purple30: #9D69E5;
    --brown10: #7D5260;
    --brown20: #633B48;
    --brown30: #FFD8E4;
    --black: #050505;
    --sepia: #774e24;
    --red: #a4243B;
    --gray: #333333;
    --body1-regular: 400 0.875rem/1.25rem Poppins;
    --body1-bold: 600 1rem/1.25rem Poppins;
    --sectionHead: 400 0.75rem/1.25rem Poppins;
    --nav1-logo: 600 2.7rem/1.25rem Poppins;
}

html {
    scroll-behavior: smooth;
}

.menuButton {
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 20px;
  inline-size: 35px;
  block-size: 30px;
  padding: 10px;
  z-index: 30;
  display: none;
}

.menuButton .linesContainer {
  position: relative;
}

.menuButton .linesContainer span {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 2px;
  background: var(--black);
  position: absolute;
}

.menuButton .linesContainer span:nth-child(1) {
  top: 0px;
  left: 0px;
}

.menuButton .linesContainer span:nth-child(2) {
  top: 10px;
}

.menuButton .linesContainer span:nth-child(3) {
  top: 20px;
}

.active {
  display: flex;
}

.portfolio {
  max-inline-size: 90rem;
  margin: auto;
  padding-inline: 10rem;
}

@media (max-width: 530px) {
  .portfolio {
    padding-inline: 0.5rem;
  }
}

.project-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.project-image {
  flex: 0 0 31.25rem;
  /* flex: 1; */
  padding: 1rem
}

.project-image img {
  inline-size: 100%;
}

.project-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-description-title {
  flex: 0.5;
}

.project-description-title h4 {
  text-align: left;
  margin-block: 0.5rem;
}

.project-description-topics {
  flex: 2;
  text-align: center;
}

.project-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
  margin-block-start: 1rem;
  text-align: left;
}

.project-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.project-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.project-description-media {
  flex: 0;
  text-align: center;
}

.project-description-media a {
  text-decoration: underline;
  display: inline-block;
  margin-inline-end: 1rem;
  color: var(--purple20);
}

.techSpan {
  color: var(--purple10);
}

@media (max-width: 1130px) {
  .project-item {
    flex-direction: column;
  }

  .project-image {
    flex: 1;
  }
}

.about-description {
  font: var(--body1-bold);
}

.collapsible-content {
  overflow: hidden;
  transition: height .8s ease-in-out;
}

.collapsible-content.collapsed {
  height: 0px !important;
}

.collapsible-content:not(.collapsed) {
  height: auto;
}

.contact {}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.contact-box i {
  color: var(--purple10);
}

.contact .sectionContainer {
  text-align: center;
}

.experience-experiences {
  margin-block-start: 2rem;
}

.experience-work {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.experience-image {
  flex: 1;
  padding: 1rem
}

.experience-image img {
  inline-size: 100%;
}

.experience-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.experience-description-title {
  flex: 0.5;
}

.experience-description-topics {
  flex: 2;
  text-align: center;
}

.experience-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
  text-align: left;
}

.experience-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.experience-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.experience-description-media {
  flex: 0;
}

.experience-description-media a {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .experience-image {
    flex: 0 0 25rem;
    padding: 1rem
  }
}

@media (max-width: 1090px) {
  .experience-image {
    flex: 0 0 20rem;
    padding: 1rem
  }

  .experience-description-title h3 {
    margin-block-end: 0;
  }

  .experience-description-title h4 {
    margin-block-end: 0;
  }

  .experience-description-topics p:first-child {
    margin-block-end: 0.5rem;
  }
}

@media (max-width: 940px) {
  .experience-work {
    display: block;
  }
}

.footer {
  background: var(--white);
  text-align: center;
  justify-content: center;
}

footer i {
  color: var(--purple10);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  inline-size: 100%;
}

.header-hero {
  flex: 1;
}

.hero-image-container {
  text-align: center;
}

.hero-image-container img {
  border-radius: 50%;
  box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
}

.hero-description {
  flex: 1;
}

.hero-description span {
  /* color: var(--purple20); */
  font-weight: 600;
}

.hero-socials {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.socials-resume {
  /* display: inline; */
  /* inline-size: 8.75rem;
  block-size: 3rem; */
  border-radius: 2.5rem;
  padding: 1rem 3rem;
  border: none;
  background-color: var(--purple10);
  color: var(--white);
  font: var(--body1-regular);
}

.socials-resume:hover,
.socials-resume:focus {
  background-color: #8444df85;
}

.hero-socials-list {
  display: flex;
  margin-inline-start: 2rem;
}

.hero-socials-list li {
  margin-inline: 10px;
  /* color: var(--purple10); */
  outline: none;
}

.hero-socials-list li:hover,
.hero-socials-list li:focus {
  box-shadow: 0px 0px 10px 10px #ece6f5;
  background: var(--white);
  border-radius: 2px;
  transition: all .5s ease;
}

@media (max-width: 1200px) {
  .header {
    flex-direction: column;
  }

  .header-hero {
    flex: 0;
  }

  .hero-description {
    flex: 0;
    text-align: center;
    margin-block-start: 1rem;
  }

  .hero-socials {
    justify-content: center;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/icomoon.eot?sr6zgj');
  src: url('./../fonts/icomoon.eot?sr6zgj#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?sr6zgj') format('truetype'),
    url('./../fonts/icomoon.woff?sr6zgj') format('woff'),
    url('./../fonts/icomoon.svg?sr6zgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: currentColor;
  vertical-align: baseline;
}

a:focus,
a:hover {
  outline: none;
}

hr {
  margin-block: 3rem;
}

h4 {
  display: inline-block;
}

i {
  font-size: 1.5rem;
  inline-size: 24px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  padding-block: 5rem;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

.justify {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page {
  display: flex;
  margin: 0;
  background: var(--white10);
  color: var(--gray);
  font: var(--body1-regular);
}

.sectionHead {
  margin-bottom: 3.125rem;
  text-align: start;
}

.sectionHead p:first-child {
  position: relative;
  padding-inline-start: 2.5rem;
  font: var(--sectionHead);
}

.sectionHead p:first-child::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  display: inline-block;
  inline-size: 2rem;
  block-size: 1px;
  background-color: var(--gray);
}

.sectionContainer {
  background-color: var(--white);
  border-radius: 3.125rem;
  padding: 3rem;
}

.skills {}

.skills-skills {}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  row-gap: 2rem;
  column-gap: 2rem;
  align-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.skills-grid li {
  background-color: var(--white);
  border-radius: 1rem;
  inline-size: 5rem;
  padding: 0.625rem;
  border: 1px solid var(--white20);
  transition: all 0.3s ease-in;
}

.skills-grid li:hover {
  box-shadow: 0px 10px 10px rgba(134, 151, 168, 0.1);
  ;
}

.skills-item-container {
  text-align: center;
}

.skills-item-container img {
  inline-size: 2.2rem;
  block-size: 2.2rem;
}

.studies-studies {
  margin-block-start: 2rem;
}

.studies-course {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.studies-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-image {
  flex: 1;
  padding: 1rem
}

.course-image img {
  inline-size: 100%;
}

.course-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.course-description-title {
  flex: 0.5;
}

.course-description-topics {
  flex: 2;
  text-align: center;
}

.course-description-topics ul {
  display: inline-block;
  padding-inline-start: 0px;
  text-align: left;
}

.course-description-topics p:first-child {
  text-align: center;
  margin-block-end: 1rem;
}

.course-description-topics li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.course-description-media {
  flex: 0;
}

.course-description-media a {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .course-image {
    flex: 0 0 25rem;
    padding: 1rem
  }
}

@media (max-width: 1090px) {
  .course-image {
    flex: 0 0 20rem;
    padding: 1rem
  }

  .course-description-title h3 {
    margin-block-end: 0;
  }

  .course-description-title h4 {
    margin-block-end: 0;
  }

  .course-description-topics p:first-child {
    margin-block-end: 0.5rem;
  }
}

@media (max-width: 940px) {
  .studies-course {
    display: block;
  }
}
